    body{
        margin: 0;
    }
.quotingContainer{
position: relative;
display: none;
flex-direction: row;
justify-content: space-evenly;
background-color:#eee9d7;
margin-top: 10px;
margin-left: auto;
margin-right: auto;
padding: 3px;
}
.fa-bed{
    width: 10%;
    margin-left: 15px;
    color:#7e79799f;
}
.button{
    width: 20%;
    border-top: 0px solid transparent;
    padding: 15px 5px;
    text-decoration: none;
    color:#7e79799f;
    text-align: center;
   border:none;
   background-color:#fff;
}
.destiny{
    width:15%;
    margin-right: 15px;
    color:#7e79799f;
}
.date{
    width:15vw;
    margin-right: 15px;
    color:#7e79799f;
}
.modal{
   
    position: absolute;
    top: 7vh;
    left: 62vw;
    width: 240px;
    background-color: #eee9d7;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color:#7e79799f;
  
}

   

.visibility{
    display: none;
}

.row{
    color:#7e79799f;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.label{
    width: 4vw;
    height: 3vh;
}
.btn{
    width: 40px;
    height: 40px;
}
@media (min-width: 576px) { 
    .quotingContainer{
        display: none;
    }

 }


@media (min-width: 768px) { 
    .quotingContainer{
     
    display: none;
   
    }
   
 }


@media (min-width: 992px) {

}


@media (min-width: 1200px) { 
.quotingContainer{
    width: 100vw;
display: flex;
margin-top: 10px;
margin-left: auto;
margin-right: auto;
}
.destiny{
    margin-right: 15px;
    background-color: #fff;
    border: none;
}
.destiny input{
    border: none;
    width: 80%;
    height: 100%;
}
.date{
    width:15vw;
    margin-right: 15px;
    align-content: space-between;
    justify-content: ;
}
.btnSearch{
    width: 100px;
    background-color:red;
    color:#fff;
    border: none;
    border-radius: 2px 40px / 20px 5px;
}
.fa-user{
    color:#7e79799f;
    
}
.paragrap{
    display: inline;
    margin-left: 5px;
}

}